@{
    ViewBag.Title = "Contact The administrators";
}
<h2>@ViewBag.Title.</h2>

<div class="text-warning">
    <h4>Alex Hulst</h4>
    <strong>Email:</strong><a href="mailto:hulst2@mail.nmc.edu"> hulst2@mail.nmc.edu</a>
    <h4>Richard Robertson</h4>
    <strong>Email:</strong><a href="mailto:rober260@mail.nmc.edu"> rober260@mail.nmc.edu</a>
    <h4>Beau DeYoung</h4>
    <strong>Email:</strong><a href="mailto:deyoun39@mail.nmc.edu"> deyoun39@mail.nmc.edu</a>
    <h4>Tanner Rabb</h4>
    <strong>Email:</strong><a href="mailto:rabb2@mail.nmc.edu"> rabb2@mail.nmc.edu</a>
    <h4>Tom Farrer</h4>
    <strong>Email:</strong><a href="mailto:farrert@mail.nmc.edu"> farrert@mail.nmc.edu</a>


</div>