
@{
    ViewBag.Title = "AdminDashboard";
}
<style>

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: aliceblue;
        text-decoration: none;
    }
</style>
<h2 class="text-center jumbotron bg-info text-white">Administrator Dashboard</h2>

<div class="text-center">
    <p class="btn btn-primary btn-lg">@Html.ActionLink("Users List", "Index","Admin")</p><br />

    <p class="btn btn-primary btn-lg">@Html.ActionLink("Jobs List", "Index", "JobsModel")</p>
</div>
