
@{
    ViewBag.Title = "EmployerList";
}

<h2 class="text-center jumbotron bg-info text-white">Employers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Buisness Name")
        </th>
        <th>
            @Html.DisplayName("Specialty")
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>
    </tr>


</table>

